body{
    margin: 0;
}
#belle-logo-image{
    margin-top: 20px;
}
.polka-dot-image{
    position: relative;
    float: right;
    margin-right: 60%;
}
html, body {
    /* background-color: #fff; */
    background-color: violet;
    color: #636b6f;
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Lora', serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: right;
    display: flex;
    justify-content: center;
}

.position-ref {
    float: right;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    padding: 0;
}

.title {
    font-size: 84px;
}

.m-b-md {
    margin-bottom: 30px;
}
